.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  height: 100px;
  width: auto;
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-top: 90px;
}

.landingPageText {
  display: flex;
  justify-content: center;
  text-align: center;

  padding: 20px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.landingPageContents {
  display: flex;
  flex-direction: column;
}

.logoImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.startBrowsing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.citiesArrow {
  height: 50px;
  width: auto;
}

.signUpText {
  text-align: center;
}

.signUpOptions {
  display: flex;
}

.loginOption {
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 10px;
}

.createAccountOption {
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 10px;
}

.footerBarHome {
  height: 50px;
  width: auto;
}

.footerBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bottomBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  background: white;
  height: 60px;
  border-top: 1px solid #d8d8d8;
  z-index: 2;
}

.accountLogo {
  height: 50px;
}

.hamburgerIcon {
  height: 30px;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 10px;
}

.headerContainer {
  display: block;
  background: white;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.profile {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding: 12px;
  background: white;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  background: white;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #01152d;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: white;
}

.hamburgerComponent {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.menuStyling {
  background: white;
}

.menuItemStyling {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.sliderImage {
  height: 50px;
  width: auto;
}

.imageRow {
  display: flex;
}

.sliderImageContainer {
  flex: 1;
}

.variable-width .slick-slide p {
  background: blue;
  height: 100px;
  color: #fff;
  margin: 5px;
  line-height: 100px;
  text-align: center;
}
.center .slick-center h3 {
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08);
}
.center h3 {
  opacity: 0.8;
  transition: all 300ms ease;
}
.content {
  padding: 20px;
  margin: auto;
  width: 90%;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
}
.slick-slide img.slick-loading {
  border: 0;
}
.slick-slider {
  margin: 30px auto 50px;
}
.slick-dots {
  margin-left: 0;
}
.slick-thumb {
  bottom: -45px;
}
.slick-thumb li {
  width: 60px;
  height: 45px;
}
.slick-thumb li img {
  filter: grayscale(100%);
}
.slick-thumb li.slick-active img {
  filter: grayscale(0%);
}
@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
  }
  .center h3 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
}
.slick-vertical .slick-slide {
  height: 180px;
}
.slick-arrow {
  background-color: grey;
  /* color: black; */
}
.slick-arrow:hover {
  background-color: grey;
}
/* .slick-prev {
  z-index: 100;
  left: 20px !important;
}
.slick-next {
  z-index: 100;
  right: 20px !important;
} */
.activityStyling {
  background: blue;
  margin: 20px;
}

.sliderContainer {
  margin: 50px;
  height: 100px;
  border: solid;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.commentUser {
  flex: 1;
  font-weight: bold;
  padding: 10px;
}

.commentText {
  flex: 3;
  font-weight: none;
  width: 100%;
  text-align: left;
  padding: 10px;
  background: #f5f4f5;
  border-radius: 15px;
}

.commentArea {
  display: flex;
  flex-direction: column;
}

.commentForm {
  order: 1;
}

.commentAll {
  order: 2;
  max-height: 200px;
  overflow: scroll;
}

.error {
  background: pink;
}

/* .itineraryHeart {
  max-height: 50px;
} */

.cardContainer {
  display: flex;
}

.cardImage {
  flex: 1;
}

.cardInfo {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.itineraryInfo {
  display: flex;
  flex: 1;
}

.itineraryLikes,
.itineraryHours,
.itineraryExpense {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itineraryHashtags {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  color: #484848;
  font-weight: lighter;
}

.itineraryHashtag {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itineraryHeader {
  display: flex;
  flex: 1;
}

.itineraryTitle {
  flex: 4;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #484848;
  margin-bottom: 0;
  font-size: 14pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itineraryLike {
  flex: 1;
}

.image {
  height: 50px;
}

.menu-item {
  color: pink;
}

.itineraryImage {
  object-fit: cover;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.cardAction {
  width: 100%;
}

.commentMaterial {
  display: flex;
  align-items: center;
}

.sendButton {
  margin: 20px;
}

.firstRowFavourite {
  display: flex;
}

.titleFavourite {
  flex: 4;
}

.likeFavourite {
  flex: 1;
}

.secondRowFavourite {
  display: flex;
}

.timeFavourite {
  flex: 1;
}

.expenseFavourite {
  flex: 1;
}

.favouriteCard {
  display: flex;
}

.imageFavourite {
  flex: 1;
}

.infoFavourite {
  flex: 2;
}

.input {
  display: flex;
  margin: 10px;
}

.password {
  display: flex;
  margin: 10px;
}

.googleButton {
  margin: 20px;
  width: 80%;
}

.facebookButton {
  margin: 20px;
  width: 80%;
}

.cityList {
  height: 500px;
  overflow: scroll;
}

.noLoginFavourites {
  font-size: 20px;
  margin: 20px;
}

.favouriteContent {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
}

.profileContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileCard {
  display: flex;
}

.cardText {
  padding-left: 10px;
  font-size: 18px;
}

.cardItem {
  flex: 1;
  width: 90%;
  margin: 10px;
}

.itinerariesContainer {
  margin-bottom: 40px;
}

.profilePhoto {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.box {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profileImageUpload {
  border-radius: 50%;

  padding: 35px;
  border: solid;
}
.active {
  color: #484848;
}

.inactive {
  color: #484848;
}

.btn-primary {
  background-color: #008489;
  border-color: #008489;
}

.card {
  border: none;
}

.itineraryListContainer {
  margin-bottom: 40px;
  z-index: 1;
}

/* .btn-secondary {
  background-color: #ff5b5e;
  border-color: #ff5b5e;
} */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
