.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  height: 100px;
  width: auto;
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-top: 30px;
}

.landingPageText {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.landingPageContents {
  display: flex;
  flex-direction: column;
}

.startBrowsing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.citiesArrow {
  height: 50px;
  width: auto;
}

.signUpText {
  text-align: center;
}

.signUpOptions {
  display: flex;
}

.loginOption {
  display: flex;
  justify-content: center;
  flex: 1;
}

.createAccountOption {
  display: flex;
  justify-content: center;
  flex: 1;
}

.footerBarHome {
  height: 50px;
  width: auto;
}

.footerBar {
  display: flex;
  justify-content: center;
}

.bottomBar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.accountLogo {
  height: 50px;
}

.hamburgerIcon {
  height: 30px;
}

.header {
  display: flex;
}

.loginComponent {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #01152d;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: white;
}

.hamburgerComponent {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.menuStyling {
  background: white;
}

.menuItemStyling {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.sliderImage {
  height: 50px;
  width: auto;
}

.imageRow {
  display: flex;
}

.sliderImageContainer {
  flex: 1;
}

.itineraryContainer {
  border: solid;
  display: flex;
  flex-direction: column;
}

.itineraryFirstRow {
  order: 1;
  display: flex;
}

.itinerarySecondRow {
  order: 2;
  display: flex;
}

.profileName {
  flex: 1;
}

.itineraryHashtags {
  flex: 1;
}

.itineraryThirdRow {
  order: 3;
}

.profilePhoto {
  flex: 1;
  border: solid;
}

.itineraryInfo {
  flex: 4;
  border: solid;
  display: flex;
  flex-direction: column;
}

.itineraryTitle {
  flex: 1;
}

.itineraryDetails {
  flex: 1;
  display: flex;
}

.itineraryLikes {
  flex: 1;
}

.itineraryDuration {
  flex: 1;
}

.itineraryExpense {
  flex: 1;
}

h3 {
  background: blue;
  color: #fff;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}
.variable-width .slick-slide p {
  background: blue;
  height: 100px;
  color: #fff;
  margin: 5px;
  line-height: 100px;
  text-align: center;
}
.center .slick-center h3 {
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08);
}
.center h3 {
  opacity: 0.8;
  transition: all 300ms ease;
}
.content {
  padding: 20px;
  margin: auto;
  width: 90%;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
}
.slick-slide img.slick-loading {
  border: 0;
}
.slick-slider {
  margin: 30px auto 50px;
}
.slick-dots {
  margin-left: 0;
}
.slick-thumb {
  bottom: -45px;
}
.slick-thumb li {
  width: 60px;
  height: 45px;
}
.slick-thumb li img {
  filter: grayscale(100%);
}
.slick-thumb li.slick-active img {
  filter: grayscale(0%);
}
@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
  }
  .center h3 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
}
.slick-vertical .slick-slide {
  height: 180px;
}
.slick-arrow {
  background-color: grey;
  /* color: black; */
}
.slick-arrow:hover {
  background-color: grey;
}
/* .slick-prev {
  z-index: 100;
  left: 20px !important;
}
.slick-next {
  z-index: 100;
  right: 20px !important;
} */
.activityStyling {
  background: blue;
  margin: 20px;
}

.sliderContainer {
  margin: 50px;
  height: 100px;
  border: solid;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.commentUser {
  flex: 1;
  font-weight: bold;
  padding: 10px;
}

.commentText {
  flex: 3;
  font-weight: none;
  width: 100%;
  text-align: left;
  padding: 10px;
  background: #f5f4f5;
  border-radius: 15px;
}

.commentArea {
  display: flex;
  flex-direction: column;
}

.commentForm {
  order: 1;
}

.commentAll {
  order: 2;
  max-height: 200px;
  overflow: scroll;
}

.error {
  background: pink;
}

.itineraryHeart {
  max-height: 50px;
}
